body {
    font-family: gam;
    font-size: 16px;
    /* font-weight: 300; */
    background-color: white;
    margin: 10;
    padding: 0;
    overflow-x: hidden;
}
p, span { font-size: 20px; margin: 25px 25px;}
span.insideHeader {
    font-size: inherit;
    font-family: inherit;
    opacity: inherit;
}
h1 { font-size: 52px; margin: 25px 25px; font-weight: normal; line-height: 72px; font-family: Georgia, Arial; }
h2 { text-align:center; font-size: 32px; margin: 10px 10px 0px 10px; font-weight: bold; line-height: 38px; font-family: Arial, Georgia, serif;}
h3 { font-size: 20px; margin: 50px 25px 5px 25px; font-weight: bold; line-height: 24px; font-family: Arial, Georgia, serif;}


div {
    width: 90%;
    /* border: 1px black solid; */
    margin: auto;
}

div.tips {	
    width: 100px;
    position: absolute;			
    text-align: center;								
    padding: .5rem;				
    background: #FFFFFF;
    color: #163c53;	
    border: 1px solid #313639;		
    border-radius: 8px;			
    pointer-events: none;
    font-size: 1rem;			
}

.theDate,
.theDate line,
.theDate path {
	fill: #020202;
	stroke: #080808;
	stroke-width: .25;
}

.theLine {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 8;
    opacity: 0.75;
}

.announcedCircle {
    r: 7.5;
    opacity: 0.9;
    stroke: black;
}

.withdrewCircle {
    r: 7.5;
    opacity: 0.9;
    stroke: greenyellow
}
